body{
    background: linear-gradient(90deg, rgb(189, 7, 189), rgb(255, 37, 240));
}
header{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 100px;
    outline-color: aliceblue;
    color: rgb(255, 255, 255);
}
.container{
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    width: 550px;
    height: 100%;
}
.content{
    width: 100%;
    margin: 0;
    padding: 20px;
}
    
img{
    display: flex;
    justify-self: center;
    justify-content: center;
   
}
.content h1{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-bottom: 10px;
}
.content p{
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
}
.content form{
    display: flex;
    flex-direction: column;

}
input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
button{
    padding: 10px;
    border: none;
    background-color: darkviolet;
    color: white;
    border-radius: 10px;

}
button:hover{
    background-color: fuchsia;
    transition: 0.3s ease-in-out;
}